In [1]:
import numpy as np
import pandas as pd
from sklearn import neighbors
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
dist = neighbors.DistanceMetric.get_metric('euclidean')
x = [[0, 1, 2],
     [3, 4, 5],
     [3, 7, 5],
     [0, 4, 1]]

In [3]:
dist.pairwise(x)

array([[0.        , 5.19615242, 7.34846923, 3.16227766],
       [5.19615242, 0.        , 3.        , 5.        ],
       [7.34846923, 3.        , 0.        , 5.83095189],
       [3.16227766, 5.        , 5.83095189, 0.        ]])

In [4]:
dist2 = neighbors.DistanceMetric.get_metric("manhattan")
dist2.pairwise(x)

array([[ 0.,  9., 12.,  4.],
       [ 9.,  0.,  3.,  7.],
       [12.,  3.,  0., 10.],
       [ 4.,  7., 10.,  0.]])

In [5]:
df = pd.DataFrame(x)

In [6]:
df

   0  1  2
0  0  1  2
1  3  4  5
2  3  7  5
3  0  4  1

In [7]:
df.loc[[0],[0]]

   0
0  0

In [8]:
# 只有一个参数默认取列
df[[1]]

   1
0  1
1  4
2  7
3  4

In [9]:
# 先1列，后2行。顺序进行。反过来的矩阵
print(df[1][2])

# 二行一列
df[2:3][[1]]

7

   1
2  7

array([[0, 1, 2],
       [3, 4, 5],
       [3, 7, 5],
       [0, 4, 1]], dtype=int64)