| 格式符|	说明|
|:--:|:--:|
| %a	|星期的英文单词的缩写：如星期一， 则返回 Mon|
| %A	|星期的英文单词的全拼：如星期一，返回 Monday|
| %b	|月份的英文单词的缩写：如一月， 则返回 Jan|
| %B	|月份的引文单词的缩写：如一月， 则返回 January|
| %c	|返回datetime的字符串表示，如03/08/15 23:01:26|
| %d	|返回的是当前时间是当前月的第几天|
| %f	|微秒的表示： 范围: [0,999999]|
| %H	|以24小时制表示当前小时|
| %I	|以12小时制表示当前小时|
| %j	|返回 当天是当年的第几天 范围[001,366]|
| %m	|返回月份 范围[0,12]|
| %M	|返回分钟数 范围 [0,59]|
| %P	|返回是上午还是下午–AM or PM|
| %S	|返回秒数 范围 [0,61]。。。手册说明的|
| %U	|返回当周是当年的第几周 以周日为第一天|
| %W	|返回当周是当年的第几周 以周一为第一天|
| %w	|当天在当周的天数，范围为[0, 6]，6表示星期天|
| %x	|日期的字符串表示 ：03/08/15|
| %X	|时间的字符串表示 ：23:22:08|
| %y	|两个数字表示的年份 15|
| %Y	|四个数字表示的年份 2015|
| %z	|与utc时间的间隔 （如果是本地时间，返回空字符串）|
| %Z	|时区名称（如果是本地时间，返回空字符串）|

In [30]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [31]:
# 获得时间序列
# 该类型为datetimeIndex,可以直接赋值给index
datetime = pd.date_range(
    start="2018-06-01", end="2018-07-01",  freq=pd.offsets.BDay(3))
print(type(datetime))
datetime

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

DatetimeIndex(['2018-06-01', '2018-06-06', '2018-06-11', '2018-06-14',
               '2018-06-19', '2018-06-22', '2018-06-27'],
              dtype='datetime64[ns]', freq='3B')

In [35]:
df1 = pd.DataFrame(np.random.uniform(10,50,(100,1)),index=pd.date_range("20170601",periods=100))
df1

                    0
2017-06-01  35.030955
2017-06-02  17.943487
2017-06-03  30.496987
2017-06-04  25.566651
2017-06-05  14.046971
...               ...
2017-09-04  27.214624
2017-09-05  49.985052
2017-09-06  29.405384
2017-09-07  17.082959
2017-09-08  43.472258

[100 rows x 1 columns]

In [37]:
# 得到的就是一个分组对象
resample = df1.resample("M")
resample

In [40]:
resample.mean()

                    0
2017-06-30  28.548689
2017-07-31  31.219877
2017-08-31  30.148358
2017-09-30  33.667011

In [54]:
df2 = pd.DataFrame(np.arange(25).reshape(5,5))

In [ ]:
df2

In [56]:
%who

autopep8	 date_df	 datetime	 df1	 df2	 json	 np	 pd	 plt
resample

In [57]:
pd.to_datetime(["2019-06-01"])

DatetimeIndex(['2019-06-01'], dtype='datetime64[ns]', freq=None)

In [58]:
# 返回DatatimeIndex
pd.to_datetime(["2019|06|01"],format="%Y|%m|%d")

DatetimeIndex(['2019-06-01'], dtype='datetime64[ns]', freq=None)